* {
	margin: 0;
	padding: 0;
}

.wraper {
	max-width: 768px;
	margin: 0 auto;
  display: flex;
}

[aria-hidden="true"] {
  opacity: 0;
  position: absolute;
  z-index: -9999;
  pointer-events: none;
}

::-moz-selection {
    background-color: transparent;
    color: #000;
}

::selection {
    background-color: transparent;
    color: #000;
}

.myclass::-moz-selection,
.myclass::selection { ... }



.more {
  width: 100%;
  background-color: #2ecc71;
  border: none;
  padding: 8px;
  margin-bottom: 16px;
  font-size: 16px;
  border-radius: 2px;
  color: #ecf0f1;
  cursor: pointer;
  border-bottom: 3px solid #27ae60;
}

.more-disabled {
  width: 100%;
  background-color: #bdc3c7;
  border: none;
  padding: 8px;
  margin-bottom: 16px;
  font-size: 16px;
  border-radius: 2px;
  color: #ecf0f1;
}


