.header {
	width: 100%;
}

.header > h1 {
	width: max-content;
	margin: auto;
}
.header > h1 sup {
	font-size: small;
}

.header > h1::before {
	content: url('../images/site-logo.png');
	vertical-align: -30%;
}